* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code";
}

@mixin flexCenter($jstf) {
  display: flex;
  justify-content: $jstf;
  align-items: center;
}

$bgBackground: #0c0c0c;
$gridButtonBackground: #141414;

body {
  @include flexCenter(center);
  min-height: 100vh;
  background: $bgBackground;
}

.choises {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  button {
    height: 45px;
    width: 110px;
    border-radius: 8px;
    border: none;
    color: white;
  }
}

@mixin bgColor($color) {
  transition-duration: 300ms;
  background-color: $color;
  color: white;
}

.dark {
  @include bgColor(#141414);
  &:hover {
    filter: brightness(1.3);
  }
}

.blue {
  @include bgColor(rgb(5, 5, 211));
}
.red {
  @include bgColor(rgb(211, 5, 5));
}

.congraBox {
  @include flexCenter(center);
  background-color: rgb(5, 151, 37);
  color: white;
  height: 100px;
  width: 300px;
  font-size: larger;
  border-radius: 25px;
  transition-duration: 300ms;
  &:hover {
    background-color: rgb(13, 182, 49);
    box-shadow: 0 0 20px rgba(5, 167, 27, 0.308);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.534);
  }
}
